<!DOCTYPE html>
<html>
<head>
    <title>YouTube to MP3 Converter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>YouTube to MP3 Converter</h1>
        <form method="POST">
            <div class="form-group mt-4">
                <label for="url">Entre com YouTube URL:</label>
                <input type="text" class="form-control" id="url" name="url" placeholder="https://www.youtube.com/watch?v=...">
            </div>
            <button type="submit" class="btn btn-primary">Converter para MP3</button>
        </form>
        <div class="alert alert-success mt-3" id="conversion-success" style="display: none;">
            Conversão completa! Seu arquivo MP3 está pronto.
        </div>
        <div id="loading-spinner" class="spinner-border text-primary mt-2" style="display: none;"></div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('form');
            const successAlert = document.querySelector('#conversion-success');
            const loadingSpinner = document.querySelector('#loading-spinner');

            form.addEventListener('submit', function (event) {
                event.preventDefault();
                successAlert.style.display = 'none';
                loadingSpinner.style.display = 'block';

                const formData = new FormData(form);
                const xhr = new XMLHttpRequest();

                xhr.open('POST', '/');
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            checkConversionStatus();
                        } else {
                            alert('An error occurred during conversion.');
                        }
                    }
                };
                xhr.send(formData);
            });

            function checkConversionStatus() {
                const xhr = new XMLHttpRequest();
                xhr.open('GET', '/check_status');
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        const status = JSON.parse(xhr.responseText);
                        if (status.percent === 100) {
                            loadingSpinner.style.display = 'none';
                            successAlert.style.display = 'block';
                            setTimeout(function () {
                                window.location.reload();
                            }, 6000); // Espera 6 segundos antes de recarregar a página
                        } else {
                            setTimeout(checkConversionStatus, 1000);
                        }
                    }
                };
                xhr.send();
            }
        });
    </script>
</body>
</html>
